#root{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar{
    position: fixed;
    background-color: #ffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding:5px 20px;
    color:var(--L7);
    width: 100%;
    display: flex;
    z-index: 1;
  
}

.navbar .nav_links{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.navbar .nav_links .navbar_item_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 690px;
}

.navbar .nav_links .navbar_item_wrapper .navbar_item .navbar_item_icon span{
    font-size:2rem;
}


.navbar .nav_links .navbar_item_wrapper .navbar_item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:0 5px;
    padding:10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}



.navbar .nav_links .navbar_item_wrapper .navbar_item.active{
    color:#0892e4;
}

.navbar .nav_links .navbar_item_wrapper .navbar_item.active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 20px;
    background-color: #0892e4;
    top: 0;
    margin-top: 38%;
    transition: all 0.3s ease-in-out;
}
.navbar .nav_links .navbar_item_wrapper .navbar_item:hover{
    width: 100%;
    background-color: #eaecee;
}
.navbar .search_bar_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:0 10px;
    width: 48%;
}
.navbar .search_bar_wrapper .search_bar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar .search_bar_wrapper .search_bar input[type="text"]{
    border-radius:14px;
    border:none;
    padding:10px 10px 10px 35px;
    background:#f4f5f7;

}
.navbar .search_bar_wrapper .search_bar i{
    position: absolute;
    left: 0;
    padding:0 10px;
    font-size: 20px;
    color: #045de9;
}
.logo_section{
    display: flex;
    justify-content: flex-start; 

}
/* .logo_img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    height:50px;

} */

.logo_img{
    position: relative;
    display: flex;
    height:60px;
    width:50px;
}
.logo_img img{
    height: 100%;
    width: 100%;
}

.logo_title{
    width: 160px;
    padding-left:10px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content:flex-start;

}


.logo_title h1{
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    text-overflow: wrap;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.profile_wrapper{
    position: relative;
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.profile_wrapper .profile_icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    cursor: pointer;
}

.profile_wrapper .profile_icon img{
    width: 100%;
    height: 100%;    
    object-fit:cover;
    border-radius: 100%;
}

.profile_content{
    position: absolute;
    right: 0;
    margin-top: 1px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    flex-direction: column;
    width:300px;
    padding: 10px;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;

}

/* .profile_wrapper .pwpc .profile_icon:hover ~ .profile_content{
    opacity: 1;
    visibility: visible;
    margin-top: 5px;
} */


.profile_content.active{
    opacity: 1;
    visibility: visible;
    margin-top: 7px;
}

.profile_content .line{
    background:#d7dff1;

    height: 2px;
    margin:10px 0;
    border-radius: 10px;
}
.profile_content .profile_content_item:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile_content .profile_content_item:nth-child(1) .profile_icon{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.profile_content .profile_content_item:nth-child(1) .profile_desc h1{
    font-size:16px;
}
.profile_content .profile_content_item:nth-child(1) .profile_desc p{
    font-size:12px;
}

.profile_content .profile_content_item{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color:var(--gray6);
    padding:15px 10px;
    cursor: pointer;
}

.profile_content .profile_content_item:hover{
    background-color: #eaecee;
    border-radius: 10px;
    transition: all ease .35s;
}

.profile_content .profile_content_item span{
    background-color: #045de9;
    background-image: linear-gradient(360deg, #045de9 0%, #09c6f9 74%);
    padding: 5px;
    color: #f1f4fc;
    border-radius: 50%;
    margin-right: 10px;
}

.layout_wrapper{
    display: flex;
    margin-top: 70px;
    background-color: #f4f5f7;
    
}

.layout_wrapper .sidebar{
    position: fixed;
    bottom:0;
    left: 0;
    width: 300px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    z-index: 1;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.layout_wrapper .sidebar .sidebar_item{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    color: var(--gray7);
    cursor: pointer;
    font-size: 14px;
}

.layout_wrapper .sidebar .sidebar_item:hover{
    background-color: #eaecee;
    border-radius: 10px;
    transition: all ease .35s;
}

.layout_wrapper .sidebar .sidebar_item .profile_icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.layout_wrapper .sidebar .sidebar_item .profile_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.layout_wrapper .sidebar .sidebar_item .sidebar_item_icon {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: #045de9;
    background-image: linear-gradient(360deg, #045de9 0%, #09c6f9 74%);
    padding: 5px;
    color: #ffff;
    border-radius: 50%;
    margin-right: 10px;
}


/*content wrapper*/



.layout_wrapper .content_wrapper{

    margin-left:28.4%;
    display: flex;
    transition: all .5s ease-in-out;
    width: 100%;

}


.forum_wrapper .forum_post_wrapper{
    position: relative;
    display: flex;


    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.forum_wrapper .forum_post_wrapper .status_post_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    color: var(--gray7);
    font-size: 14px;
    background-color: #ffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 680px;
    border-radius: 10px;
}

.forum_wrapper .forum_post_wrapper .status_post_wrapper .line{
    background:#d7dff1;
    height: 2px;
    width: 100%;
    margin:10px 0;
    border-radius: 10px;
}

.forum_wrapper .forum_post_wrapper .status_post_wrapper .status_post_input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.forum_wrapper .forum_post_wrapper .status_post_wrapper .status_post_input .status_input{

    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    color: var(--gray7);
}

.forum_wrapper .forum_post_wrapper .status_post_wrapper .status_post_input .status_input input[type="text"]{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 7px;
    background: #f4f5f7;
    font-size: 14px;
    color: var(--gray7);
}

.forum_wrapper .forum_post_wrapper .status_post_wrapper .status_post_input .profile_icon{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.forum_wrapper .forum_post_wrapper .status_post_wrapper .status_post_input .profile_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.forum_wrapper .forum_post_wrapper .status_post_wrapper  .status_post_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray7);
    font-size: 14px;
    border-radius: 5px;
    opacity: 0.8;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.forum_wrapper .forum_post_wrapper .status_post_wrapper  .status_post_btn button:hover{
    transition: all .35s ease;
    opacity: .7;
    background-color: #045de9;
    background-image: linear-gradient(90deg, #045de9 0%, #09c6f9 74%);
    color: var(--L1);

}
.forum_wrapper .forum_post_wrapper .status_post_wrapper  .status_post_btn button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    color: var(--L1);
    font-weight: 700;
    background-color: #045de9;
    background-image: linear-gradient(90deg, #045de9 0%, #09c6f9 74%);
    opacity: 1;
    cursor: pointer;
}

/* feed wrapper */
.forum_wrapper .forum_post_wrapper .status_feed_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    color: var(--gray7);
    font-size: 14px;
    background-color: #ffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 680px;
    border-radius: 10px;
}

.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_profile{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;

}

.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_profile .profile_icon{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_profile .profile_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    border:2px solid var(--green5);
}

.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_profile .profile_desc{
    line-height: 20px;
    
}

.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_profile .profile_desc p{
    color:var(--gray6);
    font-size: 12px;
}

.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_content .status_feed_desc pre{
    padding: 0px 10px 10px 10px;
    position: relative;
    color: var(--gray7);
    font-size: 12px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */ 
}


.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_content .status_feed_img{
    width: 100%;
    height: 100%px;
    object-fit: cover;
    border-radius: 10px;
}

.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_content .status_feed_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_comment{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:10px 0;
}


.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_comment .status_feed_btn{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom:1px solid #acb1bd;
    border-top:1px solid #c6cddd;
    cursor: pointer;
    margin:0 10px;
    
}

.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_comment .status_feed_btn .btn{
    display: flex;
    width: 100%;
    justify-content: center;
    padding:10px;
    border-radius: 5px;
    color:#5c606e;
    transition: all .35s ease;
}

.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_comment .status_feed_btn .btn:hover{
background: #eaecee;
}

.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_comment .status_feed_btn .btn p{
    font-size: 12px;
    color:#5c606e;
}


.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_comment_input{
    display: flex;
    align-items: center;
    width: 100%;

    padding: 10px;
}
.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_comment_input .profile_icon{
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_comment_input .profile_icon::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left:25px;
    width: 35%;
    height: 35%;
    background-color: var(--A1);
    border-radius: 100%;
    border:2px solid var(--L2);
    opacity: 1;
    transition: all .35s ease;
}

.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_comment_input .profile_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;

}
.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_comment_input .comment_input {
    width: 100%;
}

.forum_wrapper .forum_post_wrapper .status_feed_wrapper .status_feed_comment_input .comment_input input[type="text"]{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    background: #f4f5f7;
    font-size: 14px;
    color: var(--gray7);
}

.content_wrapper .forum_ads{
    position: fixed;
    right: 0;
    display: flex;
    padding: 20px;
    justify-content: center;
}


.content_wrapper .forum_ads .ads_wrapper .candidates_img{
    display: flex;
    width: 350px;
    background:#fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px
}
.content_wrapper .forum_ads .ads_wrapper .candidates_img .ads_desc{
    width: 50%;
    padding:10px;
}
.content_wrapper .forum_ads .ads_wrapper .candidates_img .ads_desc p{
    color: var(--gray7);
    font-size: 12px;
}
.content_wrapper .forum_ads .ads_wrapper .candidates_img .candidates_slides{
    width:200px;
    display: none;

}
.content_wrapper .forum_ads .ads_wrapper .candidates_img .candidates_slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content_wrapper .forum_ads .ads_wrapper .candidates_img .dot_wrapper{
    display: none;
}

  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  

/* footer */

.footer_wrapper{
    height:100%;
    display: flex;
    align-items:flex-end;

}
.footer_wrapper .nav_footer{
    display:flex;
    flex-wrap: wrap;
    padding-bottom:20px;
}

.footer_wrapper .nav_footer .link_footer{
   text-decoration: none;
   padding:0px 5px;
   list-style-type: none;
   font-size: 12px;
   color: var(--gray6);
}


.footer_wrapper .nav_footer .link_footer:hover{
    color: #045de9;
}


/*responsiveness*/

@media only screen and (max-width: 1500px){
    .navbar .search_bar_wrapper {
        width: 32%;
    }
    .navbar .search_bar_wrapper .search_bar input[type="text"] {
        width: 200px;
    }
    .layout_wrapper .content_wrapper {
        margin-left: 22.4%;
    }

}

@media only screen and (max-width: 1400px){
    .layout_wrapper .content_wrapper {
        margin-left: 19.4%;
    }
    .navbar .search_bar_wrapper .search_bar input[type="text"] {
        width: 169px;
    }
    .navbar .search_bar_wrapper {
        width: 25.5%;
    }
}

@media only screen and (max-width: 1400px){
    .layout_wrapper .sidebar {
        display: none;
    }
    .layout_wrapper .content_wrapper {
        margin-left: 9.4%;
    }
    .content_wrapper .forum_ads .ads_wrapper .candidates_img {
        width: 433px;
    }
    .navbar .search_bar_wrapper .search_bar input[type="text"] {
        width: 169px;
    }
    .navbar .search_bar_wrapper {
        width: 25.5%;
    }
}

@media only screen and (max-width: 1280px){
    .layout_wrapper .content_wrapper {
        margin-left: 5.4%;
    }
}

@media only screen and (max-width: 1230px){
    .layout_wrapper .content_wrapper {
        margin-left: 3.4%;
    }
}

@media only screen and (max-width: 1200px){
    .layout_wrapper .content_wrapper {
        margin-left: 1.0%;
    }
}

@media only screen and (max-width: 1170px){
    .content_wrapper .forum_ads .ads_wrapper .candidates_img {
        width: 400px;
    }
}

@media only screen and (max-width: 1135px){
    .layout_wrapper .content_wrapper {
        margin-left: 0;
    }
    .content_wrapper .forum_ads .ads_wrapper .candidates_img {
        width: 380px;
    }
}

@media only screen and (max-width: 1110px){

    .content_wrapper .forum_ads .ads_wrapper .candidates_img {
        width: 350px;
    }
}

@media only screen and (max-width: 1080px){
    .content_wrapper .forum_ads .ads_wrapper .candidates_img {
        width: 340px;
    }
}


@media only screen and (max-width: 1060px){
    .content_wrapper .forum_ads .ads_wrapper .candidates_img {
        width: 320px;
    }
}

@media only screen and (max-width: 1024px){
    .content_wrapper .forum_ads {
        display: none;
    }
    .layout_wrapper .content_wrapper {
        display: flex;
        justify-content: center;
    }
}